<% layout("./layouts/index") %>


    <div class="wrapper wrapper-content clearfix" ng-controller="LeadsController">
        <div>
            <div class="row m-b">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 col-md-2 col-lg-1 control-label">Найдено:</label>
                        <div class="col-sm-9 col-md-10 col-lg-5">
                            <strong class="form-control" disabled="disabled">{{tableParams.total()}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="overflow-x: auto; min-height: 400px;">
                <table ng-table="tableParams" class="table">
                    <tr ng-repeat="item in tableParams.data">
                        <td class="">{{(tableParams.page() - 1) * tableParams.count() + ($index+1)}}</td>
                        <td title="'Дата'" class="">{{item.date}}</td>
                        <td title="'Ресурс'" class="">{{item.resource}}</td>
                        <td title="'Заголовок'" class="">{{item.title}}</td>
                        <td title="'Коментарий'" class="">{{item.comment}}</td>
                        <td title="'Имя'" class="">{{item.name}}</td>
                        <td title="'Телефон'" class="">{{item.phone}}</td>
                        <td title="'Почта'" class="">{{item.email}}</td>
                        <td title="'Промо'" class="">{{item.promo}}</td>
                        <td title="'Кнопки/действия'" class="col-md-1">
                        <button class="btn btn-sm btn-success btn-block"
                                data-toggle="modal"
                                data-target="#replenishModal"
                                ng-click="pickLead(item)"
                        >Создать интерес</button>
                        <button class="btn btn-sm btn-danger btn-block"
                                ng-click="deleteLead(item)"
                                title="Удалить"
                        >Удалить</button>
                          </td>
                    </tr>
                </table>
            </div>
        </div>
    <div class="modal inmodal" id="replenishModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Создание интереса</h4>
                <small class="font-bold">После подтверждения интерес будет создан в CRM системе</small>
            </div>
            <div class="modal-body">
              <h4 class="modal-title">Параметры интереса</h4>


              <!-- REFUEL BEGIN -->
              <div class="form-group">
                <p>Создать интерес со следующими параметрами?</p>
                <p>Имя: {{currentLead.name}}</p>
                <p>Телефон: {{currentLead.phone}}</p>
                <p>Почта: {{currentLead.email}}</p>
                <label>Промо-код лида:</label>
                <input type="number"
                       placeholder="{{currentLead.promo}}"
                       class="form-control"
                       ng-model="currentLead.promo"
                       *step="0.01"* >
                <label for="singleSelect">Выберите ответственного менеджера:</label>
                <select name="singleSelect" id="singleSelect" ng-model="singleSelect">
                    <option ng-repeat="item in managers" value="{{item}}">{{item.name}}</option>
                  </select><br>
              </div>
              <!-- REFUEL END -->
            </div>


            <!-- REFUEL BEGIN -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Отмена</button>
                <button type="button" title="Создать интерес" class="btn btn-warning" ng-click="createLead(currentLead)">Создать интерес</button>
            </div>
            <!-- REFUEL END -->
          </div>
        </div>
      </div>
    </div>