<!DOCTYPE html>
<html ng-app="mosenergoAdminApp">
<head>

  <%- include ../../parts/css %>

  <title>mosenergo</title>
  
  <link href="/styles/style.css" rel="stylesheet">
</head>

<div id="wrapper">
  <%- body %>
</div>

<%- include ../../parts/jslibs %>

<%- include ../../parts/jslogic %>

</body>
</html>
