<% layout("./admin/layouts/index") %>
<div class="content col-lg-6">
    <form action="/register" method="post">
        <div class="row">
            <label class="col-lg-3 text-center">Email:</label>
            <input class="col-lg-3 text-center" type="text" name="username"/>
        </div>
        <div class="row">
            <label class="col-lg-3 text-center">Password:</label>
            <input class="col-lg-3 text-center" type="password" name="password"/>
        </div>
        <div class="row">
            <input class="col-lg-6 text-center" type="submit" value="Register"/>
        </div>
    </form>
</div>